<div class="lowin">
  <div class="lowin-brand">
    <img src="assets/images/logo-navbar.png" alt="logo">
  </div>
  <div class="lowin-wrapper" style="max-width: 350px;">
    <div class="lowin-box lowin-login">
      <div class="lowin-box-inner">
          <p></p>
          <div class="lowin-group">
            <button (click)="loginGoogle()" class="btn btn-google-connect">
                <i class="fa fa-google"></i>
                <span>Ingresar con Google</span>
            </button>
          </div>
          <div class="lowin-group password-group" style="height: 65px;">
              <button (click)="loginFacebook()" class="btn btn-facebook-connect">
                  <i class="fa fa-facebook"></i>
                  <span>Ingresar con Facebook</span>
              </button>
          </div>
      </div>
    </div>
  </div>
</div>